@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  line-height: 1;
  font-size: .5em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #f3e5e3;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  color: #9b1c1f;
  opacity: 0;
}

body {
  margin: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modern {
  animation: fadeInDown 1.5s;
  transition: all 250ms linear;
  background-color: inherit;
}

@keyframes fadeInDown {

  0% {
    opacity: 0;
    transform: translate(-2000px);
  }

  100% {
    opacity: 0;
    transform: none;
  }
}

.map {
  transition: all 250ms ease-out;
}

.map:hover {
  fill: #bfd8d0;
  cursor: pointer;
}

.hook {
  animation: bounceIn 1s;
  transition: all 250ms linear;
  transform-origin: center;
}

@keyframes bounceIn {

  0% {
    opacity: 0;
    transform: scale(.3);
  }

  33% {
    transform: scale(1);
  }

  66% {
    transform: scale(.9);
  }

  80% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(0.95);
  }
}

.head {
  animation: slideInLeft 1s;
  transform: translateX(0.5px);
}

@keyframes slideInLeft {

  from {
    transform: translate(-100%);
    visibility: visible;
  }

  to {
    transform: translate(0);
  }
}

.cards {
  animation: zoomIn 2s;
  transform-origin: center;
}

@keyframes zoomIn {

  0% {
    transform: scale(0);
    visibility: visible;
  }

  100% {
    transform: scale(1);
  }
}

.data {
  cursor: pointer;
  opacity: 0;
}

.show {
  opacity: 1;
}

.btn {
  cursor: pointer;
  transition: all .5s linear;
  background-color: #f15c07;
}

.lines path {
  stroke-dasharray: 0, 480;
  animation: all 2s linear;
}

.is-engaged .engage path:nth-child(2) {
  transition: all .5s ease;
  fill: #f16369;
}

.is-engaged .engage path:nth-child(1) {
  transition: all .5s ease;
  fill: #65c7c4;
}

.engage path:nth-child(2) {
  transition-delay: .5s;
}

.is-engaged .lines path {
  animation: draw .5s linear forwards;
}

@keyframes draw {

  0% {
    stroke-dasharray: 0, 480;
  }

  100% {
    stroke-dasharray: 550, 550;
  }
}

.is-engaged .btn path:nth-child(2) {
  fill: black;
}

.btn path:last-child:hover {
  fill: #fabfb7;
}

#bar-rn-1 {
  animation-delay: 100ms;
  transform-origin: 180px 0;
}

#bar-rn-2 {
  animation-delay: 200ms;
  transform-origin: 180px 0;
}

#bar-rn-3 {
  animation-delay: 250ms;
  transform-origin: 180px 0;
}

#bar-rn-4 {
  animation-delay: 300ms;
  transform-origin: 180px 0;
}

#bar-rn-5 {
  animation-delay: 350ms;
  transform-origin: 180px 0;
}

#bar-rn-6 {
  animation-delay: 350ms;
  transform-origin: 180px 0;
}

.bar-wrap path {
  opacity: 0;
  transform-origin: 0 0;
}

.js-bar-animate .bar-wrap path {
  opacity: 1;
  animation: bar-up 1s ease-out;
}

@keyframes bar-up {

  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.bar-wrap-2 path {
  opacity: 0;
  transform-origin: 0 0;
}

.js-bar-animate .bar-wrap-2 path {
  opacity: 1;
  animation: bar-up 1s ease-out;
}

@keyframes bar-up {

  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

#bar-rn-7 {
  animation-delay: 100ms;
  transform-origin: 520px 0;
}

#bar-rn-8 {
  animation-delay: 200ms;
  transform-origin: 520px 0;
}

#bar-rn-9 {
  animation-delay: 250ms;
  transform-origin: 520px 0;
}

#bar-rn-10 {
  animation-delay: 300ms;
  transform-origin: 520px 0;
}

#bar-rn-11 {
  animation-delay: 350ms;
  transform-origin: 520px 0;
}

#bar-rn-12 {
  animation-delay: 350ms;
  transform-origin: 520px 0;
}

.pinkbox {
  opacity: 0;
}

.js-pinkbox-animate {
  opacity: 1;
  animation: pinkbox 250ms linear;
}

@keyframes pinkbox {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

.ethnicity {
  opacity: 0;
}

.js-ethnicity-animate {
  opacity: 1;
  animation: ethnicity 250ms linear;
}

@keyframes ethnicity {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

.salary {
  opacity: 0;
}

.js-salary-animate {
  opacity: 1;
  animation: salary 250ms linear;
}

@keyframes salary {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(30deg);
  }

  66% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0);
  }
}

.is-clicked {
  animation: spin 1s ease;
}

@keyframes spin {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.age {
  cursor: pointer;
}

.square {
  transition: all 1s ease;
  cursor: pointer;
}

.is-clicked {
  fill: #f3e5e3;
}

.glass {
  animation: pulse 2s linear infinite alternate;
  transform-origin: left;
}

@keyframes pulse {

  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

.needle {
  animation: needleshift 2s linear infinite alternate;
}

@keyframes needleshift {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.waterdrop {
  animation: pulse 1s linear infinite alternate;
  transform-origin: center;
}

@keyframes pulse {

  0% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}
